*{
    padding: 0%;
    margin: 0%;
}

.fondo{
    width: 100%;
    height: 160px;
    background-image: url(/Assets/img/logo.jpg);
}

.contenedor{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 5px;
}

.contenedor h3{
    text-align: start;
    font: size 15px;
}

.mapa{
    width: 100%;
}
.contenedor h4{
    text-align: start;
    font: size 15px;
}

.contenedor div:hover{
    border: 1px solid black;
}
.contenedor h2{
    justify-self: center;
}

.ViasDeContacto{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:"TELEFONO WHATSAPP"
                        "INSTAGRAM FACEBOOK";
gap: 2px;
}

.telefono{
    grid-area: TELEFONO;

}

.wap{
    grid-area: WHATSAPP;
}

.inst{
    grid-area: INSTAGRAM;
}

.face{
    grid-area: FACEBOOK;
}

.ViasNos{
    justify-self: center;
    text-align: center;
}

@media (max-width: 600px){
    *{
        padding: 0%;
        margin: 0%;
    }
    
    .fondo{
        width: 100%;
        height: 600px;
        background-image: url(/Assets/img/logo.jpg);
    }
    
    .contenedor{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        gap: 5px;
    }
    
    .contenedor h3{
        text-align: start;
        font: size 25px;
    }
    
    .mapa{
        width: 100%;
    }

    .contenedor h4{
        text-align: start;
        font: size 25px;
    }
    
    .contenedor div:hover{
        border: 2px solid black;
    }
    
    .contenedor h2{
        justify-self: center;
    }
    
    .ViasDeContacto{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:"TELEFONO WHATSAPP"
                            "INSTAGRAM FACEBOOK";
    gap: 2px;
    }
    
    .telefono{
        grid-area: TELEFONO;
    
    }
    
    .wap{
        grid-area: WHATSAPP;
    }
    
    .inst{
        grid-area: INSTAGRAM;
    }
    
    .face{
        grid-area: FACEBOOK;
    }
    
    .ViasNos{
        justify-self: center;
        text-align: center;
    }
}
    